.aboutHero {
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  height: auto;
  margin-bottom: 25px;
}

.aboutInfoContainer {
  padding: 20px 20px;
  margin: 0 15px;
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
}

.profileSection {
  display: flex;
  margin-bottom: 25px;
  align-items: center;
}

.profile {
  width: 100%;
  max-width: 300px;
  height: auto;
  padding-right: 25px;
}

.profileInfo {
  display: block;
  width: 100%;
  text-align: center;
}

.profileInfo a {
  text-decoration: underline;
}

.icon {
  width: auto;
  height: 80px;
  padding: 10px;
}

.icon:hover {
  transform: scale(1.1);
  transition: 0.1s ease-in;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {
  .aboutHero {
    flex-direction: column;
  }
  .profileSection {
    flex-direction: column;
  }
  .profile {
    padding-right: 0;
  }
}
