.contactContainer {
  padding: 20px 20px;
  margin: 0 15px;
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  border-radius: 9px;
  max-width: 700px;
}

.email {
  color: var(--highlight-color);
  text-decoration: underline;
}

.email:hover {
  color: var(--primary-color);
}

.form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formInputs {
  width: 100%;
}

.formGroup {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.formControl {
  max-width: 600px;
  width: 100%;
  font-family: 'Inconsolata', monospace;
  color: var(--primary-color);
  background-color: var(--background);
  font-size: 22px;
}

.formGroup input {
  border: 1px solid var(--highlight-color);
}

.formGroup textarea {
  height: 300px;
  margin-bottom: 18px;
  border: 1px solid var(--highlight-color);
}

.label {
  font-size: 25px;
}

.submitBtn {
  background-color: var(--highlight-color);
  color: black;
  width: 200px;
}

.submitBtn:hover {
  background-color: var(--background);
  color: var(--primary-color);
}

.sent {
  top: 50%;
  font-size: x-large;
  text-align: center;
  height: auto;
  width: auto;
  position: fixed;
  background-color: var(--background);
  color: var(--primary-color);
  padding: 40px;
  border: 2px solid var(--highlight-color);
}

@media (max-width: 760px) {
  .formGroup {
    flex-direction: column;
  }
}
