.contactHero {
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  height: auto;
  margin-bottom: 25px;
}

@media (max-width: 500px) {
  .contactHero {
    flex-direction: column;
  }
}
