.navbar {
  background-color: var(--secondary-color);
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: gray; */
  padding: 0 25px;
  border-bottom: 2px solid;
}

.link {
  padding: 10px;
  border-left: 1px solid;
}

.githubImg {
  height: 27px;
  width: 27px;
  position: relative;
  top: 6px;
}
