.navContainer {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  transition: top 0.2s ease-in-out;
}

#navScroll {
  top: -71px;
}

.navbar {
  background-color: var(--secondary-color);
  height: 71px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: gray; */
  padding: 0 25px;
  border-bottom: 2px solid;
  font-size: 17px;
}

.logo {
  margin-top: 6px;
  margin-left: 25px;
  fill: red;
}

.link {
  padding: 12px;
  display: flex;
  align-items: center;
}

.links {
  display: flex;
  align-items: center;
}

.navbar a {
  transition: color 0.15s ease-out;
}

.githubImg {
  height: auto;
  width: 26px;
}

.hamburger {
  height: 26px;
  width: 26px;
  position: relative;
  top: 2px;
}

.dl {
  margin-left: 3px;
}

.dropdown {
  display: none;
}

.dropdown:hover .dropdownContent {
  display: flex;
}

.dropdownContent {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 80px;
  width: 130px;
  right: 0px;
}

.dropdownContent a {
  padding: 10px 14px;
  border-top: 1px solid var(--primary-color);
}

.dropdownContent a:hover {
  background-color: var(--background-color);
}

@media (max-width: 500px) {
  .links {
    display: none;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
}
