.projectContainer {
  width: 50%;
  padding: 4px 4px;
  border: 2px solid var(--primary-color);
  margin: 0 3px;
  background-color: var(--secondary-color);
}

.projectContainer:hover {
  box-shadow: 1px 0px 2px var(--highlight-color);
  transform: scale(1.01);
}

.imageContainer {
  display: flex;
  justify-content: center;
}

.projectImage {
  border: 1px solid var(--primary-color);
  width: 100%;
  height: auto;
}

.tech {
  display: inline-block;
}

.techIcon {
  margin-right: 10px;
}

.techIcon:hover {
  transform: scale(1.2);
}

.tech:hover .techInfo {
  display: block;
}

.techInfo {
  display: none;
  margin-top: 5px;
  padding: 5px;
  position: absolute;
  background-color: var(--primary-color);
  color: var(--background);
}

@media (max-width: 992px) {
  .projectContainer {
    width: 100%;
    margin-bottom: 10px;
  }
}
